Repository businessintelli/precheck.me-sr006s, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @security-team, @backend-team, @frontend-team, @accessibility-team, @compliance-team, @ai-team, @devops-team, @database-team, @qa-team, @docs-team

.github/CODEOWNERS:

*                                               @project-leads @security-team

# Backend services require backend team and security review
src/backend/**                                  @backend-team @security-team

# Frontend code requires frontend team and accessibility review
src/web/**                                      @frontend-team @accessibility-team

# Security services require both security and compliance review
src/backend/src/services/security/**            @security-team @compliance-team

# AI/ML services require ML expertise and security review
src/backend/src/services/ai/**                  @ai-team @security-team

# Infrastructure changes require DevOps and security review
infrastructure/**                               @devops-team @security-team

# CI/CD workflows require DevOps and security review
.github/workflows/**                            @devops-team @security-team

# Database migrations require DB expertise and security review
src/backend/src/database/migrations/**          @database-team @security-team

# Test suites require QA and security validation
src/*/tests/**                                  @qa-team @security-team

# Documentation requires technical writing and compliance review
*.md                                           @docs-team @compliance-team

# Payment services require backend, security, and compliance review
src/backend/src/services/payment/**             @backend-team @security-team @compliance-team

# Authentication services require security, backend, and compliance review
src/backend/src/services/auth/**                @security-team @backend-team @compliance-team

Add public-samples/precheck.me-sr006s/src/backend/src/database/models/organization.model.ts
  src/backend/src/database/models/organization.model.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/database/models/user.model.ts
  src/backend/src/database/models/user.model.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/integrations/email/email.service.ts
  src/backend/src/integrations/email/email.service.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/integrations/hris/hris.service.ts
  src/backend/src/integrations/hris/hris.service.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/integrations/payment/payment.service.ts
  src/backend/src/integrations/payment/payment.service.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/integrations/storage/storage.service.ts
  src/backend/src/integrations/storage/storage.service.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/middleware/error.middleware.ts
  src/backend/src/middleware/error.middleware.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/middleware/logging.middleware.ts
  src/backend/src/middleware/logging.middleware.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/middleware/rate-limit.middleware.ts
  src/backend/src/middleware/rate-limit.middleware.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/middleware/validation.middleware.ts
  src/backend/src/middleware/validation.middleware.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/services/ai/document-verification.service.ts
  src/backend/src/services/ai/document-verification.service.ts
Owners: @ai-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/services/ai/interview-analysis.service.ts
  src/backend/src/services/ai/interview-analysis.service.ts
Owners: @ai-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/services/background/document-processor.service.ts
  src/backend/src/services/background/document-processor.service.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/services/background/notification.service.ts
  src/backend/src/services/background/notification.service.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/services/background/verification-worker.service.ts
  src/backend/src/services/background/verification-worker.service.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/services/cache/redis.service.ts
  src/backend/src/services/cache/redis.service.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/services/security/encryption.service.ts
  src/backend/src/services/security/encryption.service.ts
Owners: @security-team, @compliance-team

Add public-samples/precheck.me-sr006s/src/backend/src/types/background-check.types.ts
  src/backend/src/types/background-check.types.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/types/document.types.ts
  src/backend/src/types/document.types.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/types/interview.types.ts
  src/backend/src/types/interview.types.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/types/organization.types.ts
  src/backend/src/types/organization.types.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/types/user.types.ts
  src/backend/src/types/user.types.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/utils/constants.ts
  src/backend/src/utils/constants.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/utils/errors.ts
  src/backend/src/utils/errors.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/utils/logger.ts
  src/backend/src/utils/logger.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/utils/validators.ts
  src/backend/src/utils/validators.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/websocket/websocket.service.ts
  src/backend/src/websocket/websocket.service.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/websocket/handlers/interview.handler.ts
  src/backend/src/websocket/handlers/interview.handler.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/websocket/handlers/notification.handler.ts
  src/backend/src/websocket/handlers/notification.handler.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team, @accessibility-team

Add public-samples/precheck.me-sr006s/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team, @accessibility-team

Add public-samples/precheck.me-sr006s/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @accessibility-team

Add public-samples/precheck.me-sr006s/src/web/README.md
  src/web/README.md
Owners: @docs-team, @compliance-team

Add public-samples/precheck.me-sr006s/src/web/next-env.d.ts
  src/web/next-env.d.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/precheck.me-sr006s/src/web/next.config.ts
  src/web/next.config.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/precheck.me-sr006s/src/web/package.json
  src/web/package.json
Owners: @frontend-team, @accessibility-team

Add public-samples/precheck.me-sr006s/src/web/postcss.config.ts
  src/web/postcss.config.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/precheck.me-sr006s/src/web/tailwind.config.ts
  src/web/tailwind.config.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/precheck.me-sr006s/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team, @accessibility-team

Add public-samples/precheck.me-sr006s/src/web/public/favicon.ico
  src/web/public/favicon.ico
Owners: @frontend-team, @accessibility-team
