Repository businessintelli/precheck.me-sr006s, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @security-team, @backend-team, @frontend-team, @accessibility-team, @compliance-team, @ai-team, @devops-team, @database-team, @qa-team, @docs-team

Add public-samples/precheck.me-sr006s/.github/dependabot.yml
  .github/dependabot.yml
Owners: @project-leads, @security-team

Add public-samples/precheck.me-sr006s/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @docs-team, @compliance-team

Add public-samples/precheck.me-sr006s/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @docs-team, @compliance-team

Add public-samples/precheck.me-sr006s/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @docs-team, @compliance-team

Add public-samples/precheck.me-sr006s/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/.github/workflows/backend-deploy.yml
  .github/workflows/backend-deploy.yml
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/.github/workflows/web-ci.yml
  .github/workflows/web-ci.yml
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/.github/workflows/web-deploy.yml
  .github/workflows/web-deploy.yml
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @docs-team, @compliance-team

Add public-samples/precheck.me-sr006s/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @docs-team, @compliance-team

Add public-samples/precheck.me-sr006s/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @docs-team, @compliance-team

Add public-samples/precheck.me-sr006s/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @docs-team, @compliance-team

Add public-samples/precheck.me-sr006s/infrastructure/docker/.dockerignore
  infrastructure/docker/.dockerignore
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/docker/backend.Dockerfile
  infrastructure/docker/backend.Dockerfile
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/docker/docker-compose.yml
  infrastructure/docker/docker-compose.yml
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/docker/web.Dockerfile
  infrastructure/docker/web.Dockerfile
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/kubernetes/backend-deployment.yaml
  infrastructure/kubernetes/backend-deployment.yaml
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/kubernetes/backend-service.yaml
  infrastructure/kubernetes/backend-service.yaml
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/kubernetes/configmap.yaml
  infrastructure/kubernetes/configmap.yaml
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/kubernetes/ingress.yaml
  infrastructure/kubernetes/ingress.yaml
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/kubernetes/redis-service.yaml
  infrastructure/kubernetes/redis-service.yaml
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/kubernetes/redis-statefulset.yaml
  infrastructure/kubernetes/redis-statefulset.yaml
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/kubernetes/secrets.yaml
  infrastructure/kubernetes/secrets.yaml
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/kubernetes/web-deployment.yaml
  infrastructure/kubernetes/web-deployment.yaml
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/kubernetes/web-service.yaml
  infrastructure/kubernetes/web-service.yaml
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/monitoring/alertmanager.yml
  infrastructure/monitoring/alertmanager.yml
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/monitoring/grafana-dashboards.json
  infrastructure/monitoring/grafana-dashboards.json
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/monitoring/loki.yml
  infrastructure/monitoring/loki.yml
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/monitoring/prometheus.yml
  infrastructure/monitoring/prometheus.yml
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/nginx/nginx.conf
  infrastructure/nginx/nginx.conf
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/nginx/security-headers.conf
  infrastructure/nginx/security-headers.conf
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/nginx/ssl.conf
  infrastructure/nginx/ssl.conf
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/scripts/backup.sh
  infrastructure/scripts/backup.sh
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/scripts/monitoring-setup.sh
  infrastructure/scripts/monitoring-setup.sh
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/scripts/rollback.sh
  infrastructure/scripts/rollback.sh
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @devops-team, @security-team

.github/CODEOWNERS:

*                                               @project-leads @security-team

# Backend services require backend team and security review
src/backend/**                                  @backend-team @security-team

# Frontend code requires frontend team and accessibility review
src/web/**                                      @frontend-team @accessibility-team

# Security services require both security and compliance review
src/backend/src/services/security/**            @security-team @compliance-team

# AI/ML services require ML expertise and security review
src/backend/src/services/ai/**                  @ai-team @security-team

# Infrastructure changes require DevOps and security review
infrastructure/**                               @devops-team @security-team

# CI/CD workflows require DevOps and security review
.github/workflows/**                            @devops-team @security-team

# Database migrations require DB expertise and security review
src/backend/src/database/migrations/**          @database-team @security-team

# Test suites require QA and security validation
src/*/tests/**                                  @qa-team @security-team

# Documentation requires technical writing and compliance review
*.md                                           @docs-team @compliance-team

# Payment services require backend, security, and compliance review
src/backend/src/services/payment/**             @backend-team @security-team @compliance-team

# Authentication services require security, backend, and compliance review
src/backend/src/services/auth/**                @security-team @backend-team @compliance-team
