Repository businessintelli/precheck.me-sr006s, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @security-team, @backend-team, @frontend-team, @accessibility-team, @compliance-team, @ai-team, @devops-team, @database-team, @qa-team, @docs-team

Add public-samples/precheck.me-sr006s/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/terraform/environments/production/main.tf
  infrastructure/terraform/environments/production/main.tf
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/terraform/environments/production/terraform.tfvars
  infrastructure/terraform/environments/production/terraform.tfvars
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/terraform/environments/production/variables.tf
  infrastructure/terraform/environments/production/variables.tf
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/terraform/environments/staging/variables.tf
  infrastructure/terraform/environments/staging/variables.tf
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/terraform/modules/ecs/main.tf
  infrastructure/terraform/modules/ecs/main.tf
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/terraform/modules/ecs/outputs.tf
  infrastructure/terraform/modules/ecs/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/terraform/modules/ecs/variables.tf
  infrastructure/terraform/modules/ecs/variables.tf
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/terraform/modules/redis/main.tf
  infrastructure/terraform/modules/redis/main.tf
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/terraform/modules/redis/outputs.tf
  infrastructure/terraform/modules/redis/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/terraform/modules/redis/variables.tf
  infrastructure/terraform/modules/redis/variables.tf
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/terraform/modules/s3/main.tf
  infrastructure/terraform/modules/s3/main.tf
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/terraform/modules/s3/outputs.tf
  infrastructure/terraform/modules/s3/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/terraform/modules/s3/variables.tf
  infrastructure/terraform/modules/s3/variables.tf
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/terraform/modules/vpc/main.tf
  infrastructure/terraform/modules/vpc/main.tf
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/terraform/modules/vpc/outputs.tf
  infrastructure/terraform/modules/vpc/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/infrastructure/terraform/modules/vpc/variables.tf
  infrastructure/terraform/modules/vpc/variables.tf
Owners: @devops-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/README.md
  src/backend/README.md
Owners: @docs-team, @compliance-team

Add public-samples/precheck.me-sr006s/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/package.json
  src/backend/package.json
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/app.ts
  src/backend/src/app.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/server.ts
  src/backend/src/server.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/api/auth/controllers/auth.controller.ts
  src/backend/src/api/auth/controllers/auth.controller.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/api/auth/dto/login.dto.ts
  src/backend/src/api/auth/dto/login.dto.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/api/auth/dto/register.dto.ts
  src/backend/src/api/auth/dto/register.dto.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/api/auth/middleware/jwt.middleware.ts
  src/backend/src/api/auth/middleware/jwt.middleware.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/api/auth/services/auth.service.ts
  src/backend/src/api/auth/services/auth.service.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/api/auth/tests/auth.controller.spec.ts
  src/backend/src/api/auth/tests/auth.controller.spec.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/api/auth/tests/auth.service.spec.ts
  src/backend/src/api/auth/tests/auth.service.spec.ts
Owners: @backend-team, @security-team

Add public-samples/precheck.me-sr006s/src/backend/src/api/background-checks/controllers/background-check.controller.ts
  src/backend/src/api/background-checks/controllers/background-check.controller.ts
Owners: @backend-team, @security-team

.github/CODEOWNERS:

*                                               @project-leads @security-team

# Backend services require backend team and security review
src/backend/**                                  @backend-team @security-team

# Frontend code requires frontend team and accessibility review
src/web/**                                      @frontend-team @accessibility-team

# Security services require both security and compliance review
src/backend/src/services/security/**            @security-team @compliance-team

# AI/ML services require ML expertise and security review
src/backend/src/services/ai/**                  @ai-team @security-team

# Infrastructure changes require DevOps and security review
infrastructure/**                               @devops-team @security-team

# CI/CD workflows require DevOps and security review
.github/workflows/**                            @devops-team @security-team

# Database migrations require DB expertise and security review
src/backend/src/database/migrations/**          @database-team @security-team

# Test suites require QA and security validation
src/*/tests/**                                  @qa-team @security-team

# Documentation requires technical writing and compliance review
*.md                                           @docs-team @compliance-team

# Payment services require backend, security, and compliance review
src/backend/src/services/payment/**             @backend-team @security-team @compliance-team

# Authentication services require security, backend, and compliance review
src/backend/src/services/auth/**                @security-team @backend-team @compliance-team
